/* ベーススタイリング */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF0F5;
}

header {
    background-color: #FFB6C1;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    border-bottom: 3px solid #FF69B4;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #FFB6C1;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* セクションスタイリング */
#recipe-input, #ingredients-list {
    /* 各セクションの特定のスタイルがあればここに */
}

/* フォーム関連のスタイリング */
.label, .serving-label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.input-field {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 20px);
    border: 2px solid #FF69B4;
    border-radius: 15px;
}

.serving-input {
    width: 50px;
    margin: 10px 0;
    display: inline-block;
}

/* ボタンスタイリング */
.action-button {
    background-color: #FF69B4;
    color: #FFFFFF;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(255, 105, 180, .4);
}

.action-button:hover {
    background-color: #FFC0CB;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* リストアイテムスタイリング */
#ingredients-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ingredients-list li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

/* チェックボックスとラベルスタイリング */
.ingredient-checkbox {
    margin-right: 10px;
}

#ingredients-list label {
    text-align: left;
    flex-grow: 1;
}
